    @font-face {
  font-family: "Hypertext";
  src: url("Fixedsys.ttf");
  }
  
  @font-face {
  font-family: "Typetext";
  src: url("nyashasans.ttf");
  }
  
body{
	background-color: #0e1111;
}

a {
  color: #d82c6c;
  text-decoration: none
}

a.cr {
  color: white;
  text-decoration: none;
  font-family: Typetext;
  font-weight: 100;
  font-size: 0.8em;
  color: white;
  margin-top: 15px;
  margin-right: 15px;

}

h1 {
  font-family: Hypertext;
  font-weight: 100;
  font-size: 2em;
  color: white;
  
}

h2 {
  font-family: Typetext;
  font-weight: 100;
  font-size: 1.2em;
  color: white;
  
}

.text{
	margin-top: 35px;
  
}


.container{
	margin: 0 auto;
	width: 1280px;
	display: flex;
	flex-direction: column;
	text-align: center;
  
}

.bontainer{
	margin: 0 auto;
	width: 720px;
	display: flex;
	flex-direction: column;
	text-align: center;
  
}

.boxer{
	padding-bottom: 1%;
	padding-top: 5%;
	}
	
.counter{
	display: flex;
	text-align: left;
	justify-content: flex-start;
	margin-top: 35px;
	}
